target/
!.mvn/wrapper/maven-wrapper.jar
.DS_Store
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea/**
*/*.iml

### NetBeans ###
build/
dist/

### generated ###
**/generated/*
**/asciidoc/*